#### `-` 머신러닝의 작동원리

사촌동생에게 서울 강북구 신축 아파트 24평에 대해 부동산이 얼마인지 물어보자. 이 때 대략 10억? 사촌에게 왜냐고 물으면 "그냥 직관인데?"라고 얘기할 수 있다.
<Br>
그러면 사촌동생이 어떻게 부동산가격을 예측했는지 드러내기위해 몇 가지 질문을 더 한다면 우리는 사촌 대답에서 패턴을 발견할 수 있다. 그리고 그 패턴을 이용해서 예측을 하는 것이다.
<br>
머신러닝은 이와 같은 방식으로 이루어진다. `Decision Tree` 로 시작해보자. 정확도 측정에 가장 적합한 모델이다.

----

In [2]:
# Decision Tree example

<img src="dec.png" width=300 height=300></img>

아래로 yes/no 를 통해 가격을 결정하게 되고 이는 이전의 사전정보를 이용하여 예측하게 된다.

## 실제 데이터로 말보론 집 값 데이터로 prediction 을 진행해보자.

In [3]:
import pandas as pd

In [4]:
melbourne_file_path = 'melb_data.csv'

In [5]:
melbourne_data = pd.read_csv(melbourne_file_path)

In [6]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000